.login-container{
    text-align: center;
}

.logo img{
    width: 350px;
    height: auto;
}
  
.createAccount-section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.createAccountWithFbGoogle{
    width: 450px;
    height: 250px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.createAccountWithFbGoogle img{
    width: 30px;
    height: auto;
}

.loginBtn{
    display: flex;
    border: 1px solid #6d6d6d;
    border-radius: 30px;
    overflow: hidden;
    width: 320px;
    padding: 3px 3px;
    cursor: pointer;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loginBtn p{
    margin: 0 30px;
}

.loginBtn:hover{
    background-color: #FFCB2B;
    color: #fff;
    transition: .2s;
}